USE [CtrlStock]
GO
/****** Object:  Table [dbo].[T_ARTICULOS]    Script Date: 09/06/2019 12:38:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ARTICULOS](
	[ID] [varchar](20) NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[CANTIDAD] [decimal](22, 7) NULL,
	[VAL_CRITICO] [decimal](22, 7) NULL,
	[UM] [varchar](10) NULL,
	[HABILITADO] [bit] NULL,
 CONSTRAINT [PK_T_ARTICULOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_MOVIMIENTOS]    Script Date: 09/06/2019 12:38:18 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MOVIMIENTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NULL,
	[HORA] [datetime] NULL,
	[ID_ARTICULO] [varchar](20) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[MOVIMIENTO] [varchar](50) NULL,
	[CANTIDAD] [decimal](22, 7) NULL,
	[ORIGEN] [varchar](50) NULL,
	[UM] [varchar](10) NULL,
 CONSTRAINT [PK_T_MOVIMIENTOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TIPOS]    Script Date: 09/06/2019 12:38:18 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TIPOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_TIPOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_UM]    Script Date: 09/06/2019 12:38:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_UM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UNIDAD] [varchar](10) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[ID_TIPO] [int] NULL,
 CONSTRAINT [PK_T_UNIDADES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[T_TIPOS] ON 

INSERT [dbo].[T_TIPOS] ([ID], [TIPO]) VALUES (1, N'ENTERO')
INSERT [dbo].[T_TIPOS] ([ID], [TIPO]) VALUES (2, N'DECIMAL')
SET IDENTITY_INSERT [dbo].[T_TIPOS] OFF
SET IDENTITY_INSERT [dbo].[T_UM] ON 

INSERT [dbo].[T_UM] ([ID], [UNIDAD], [DESCRIPCION], [ID_TIPO]) VALUES (1, N'UN', N'UNIDADES', 1)
SET IDENTITY_INSERT [dbo].[T_UM] OFF
